

body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    background: #c62828;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero{
    background-image: url("/static/images/banner.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
}







.hero h1 {
    color: white;
    font-size: 40px;
}

/* WHY */
.why {
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
}
