{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blood Bank</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  width="50" >
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">❤️ Blood Bank Management System</div>
    <div class="menu">
        <a href="/">Home</a>
        <a href="#">Patient</a>
        <a href="/donor/login/">Donor</a>
        <a href="/admin/">Admin</a>
        <a href="/about/">About Us</a>
        <a href="/contact/">Contact</a>
    </div>
</div>

<!-- HERO SECTION -->
<div class="hero">
    <h1>Save Lives, Donate Blood</h1>
</div>

<!-- WHY SECTION -->
<div class="why">
    <h2>Why Donate Blood?</h2>

    <div class="cards">
        <div class="card">
            <h3>Save Lives</h3>
            <p>Your blood can save up to 3 lives.</p>
        </div>

        <div class="card">
            <h3>Health Benefits</h3>
            <p>Improves heart health.</p>
        </div>

        <div class="card">
            <h3>Community Impact</h3>
            <p>Help people in emergencies.</p>
        </div>
    </div>
</div>

</body>
</html>
